subscription_id            = "00000000-0000-0000-0000-000000000000"
resource_group_name        = "rg-contoso-terraform-dev"
location                   = "Canada Central"
environment                = "dev"
owner                      = "Your Name"
allowed_ssh_source_address = "203.0.113.25/32"
storage_account_name       = "stcontosoterraform1234"
action_group_name          = "ag-contoso-operations-dev"
action_group_short_name    = "contoso-ops"
alert_email_address        = "your-email@example.com"